<section id="contact" class="section-container">
  <h2 class="section-title">Ponte en <span>Contacto</span></h2>

  <div class="contact-wrapper">
    <div class="contact-info">
      <h3>Hablemos</h3>
      <p>Estoy disponible para oportunidades freelance o un rol a medio tiempo. Si tienes alguna pregunta, ¡no dudes en contactarme!</p>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> kevincalvillo26&#64;gmail.com</li>
        <li><i class="fa-solid fa-location-dot"></i> Aguascalientes, México</li>
      </ul>
      <div class="social-icons-contact">
         <a href="https://www.linkedin.com/in/kevin-calvillo-7a6956336" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
         <a href="https://github.com/KevinCalvillo" target="_blank"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
</section>
