
<section class="home">
  <div class="home-img" #homeImg>
    <img src="assets/img.jpg" alt="Foto de Kevin">
  </div>

  <div class="home-content" #homeContent>
    <h1>Hola, soy <span>Kevin</span></h1>
    <h3>Soy un <span class="typing-text"></span></h3>
    <p>Explora mis proyectos, habilidades y experiencia.</p>

    <div class="social-icons">
      <a href="https://www.linkedin.com/in/kevin-calvillo-7a6956336" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/KevinCalvillo" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.instagram.com/kxpra?igsh=bjN5ZnhoaTcyZDBl&utm_source=qr" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>

    <a href="mailto:kevincalvillo26@gmail.com" class="btn">Contratame</a>
  </div>
</section>
