<section id="projects" class="section-container bg-light">
  <h2 class="section-title">Mis <span>Proyectos</span></h2>

  <div class="projects-grid">

    <div class="project-card" #projectCards>
      <img src="assets/placoRefugio.png" alt="Sistema Refugio de Mascotas">
      <div class="project-info">
        <h3>Sistema Refugio de Mascotas</h3>
        <p>Sistema integral que digitalizó el proceso de adopción, mejorando la eficiencia operativa del refugio en un 60%.</p>
        <div class="project-tags">
          <span>Angular</span>
          <span>Firebase</span>
          <span>Cloud Firestore</span>
          <span>Node.js</span>
        </div>
        <div class="project-links">
          <a href="https://kevincalvillo.github.io/placoRefugio/" target="_blank" class="btn">Ver Demo</a>
          <a href="https://github.com/KevinCalvillo/placoRefugio" target="_blank" class="icon-link"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="project-card" #projectCards>
      <img src="assets/tesla.png" alt="Tesla Landing Page">
      <div class="project-info">
        <h3>Tesla Landing</h3>
        <p>Estructura basica de una landing de Tesla con algunas animaciones y elementos visuales ademas de la aplicacion de TailwindCSS.</p>
        <div class="project-tags">
          <span>Angular</span>
          <span>Tailwind</span>
          <span>Animations</span>
          <span>SnapScroll</span>
        </div>
        <div class="project-links">
          <a href="https://kevincalvillo.github.io/tesla-landing/" target="_blank" class="btn">Ver Demo</a>
          <a href="https://github.com/KevinCalvillo/tesla-landing" target="_blank" class="icon-link"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="project-card" #projectCards>
      <img src="assets/pokedex.png" alt="Pokédex Interactiva">
      <div class="project-info">
        <h3>Pokédex Interactiva</h3>
        <p>Pokédex con búsqueda reactiva (RxJS), carga de componentes dinámicos y optimización de rendimiento. </p>
        <div class="project-tags">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>PokeAPI</span>
          <span>RxJS</span>
        </div>
        <div class="project-links">
          <a href="https://kevincalvillo.github.io/PokedexV2/" target="_blank" class="btn">Ver Demo</a>
          <a href="https://github.com/KevinCalvillo/PokedexV2" target="_blank" class="icon-link"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="project-card" #projectCards>
      <img src="assets/placoShop.png" alt="Sistema Punto de Venta">
      <div class="project-info">
        <h3>Sistema PV para Retail</h3>
        <p>Sistema de punto de venta que maneja transacciones, inventario y genera reportes en PDF enviados por correo.</p>
        <div class="project-tags">
          <span>Angular</span>
          <span>Node.js</span>
          <span>MySQL</span>
          <span>jsPDF</span>
        </div>
        <div class="project-links">
          <a href="#" target="_blank" class="btn">Ver Demo</a>
          <a href="https://github.com/KevinCalvillo" target="_blank" class="icon-link"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>

  </div>
</section>
