<section id="education" class="section-container bg-light">
  <h2 class="section-title">Educación y <span>Certificaciones</span></h2>

  <div class="timeline">

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <div class="timeline-header">
          <h3>Ing. en Sistemas Computacionales</h3>
          <span class="timeline-date">2021 - Actualidad</span>
        </div>
        <div class="timeline-institution">

          <h4><i class="fa-solid fa-school"></i>  Universidad Autónoma de Aguascalientes</h4>
        </div>
        <ul class="timeline-details">
          <li>Enfoque principal en desarrollo de software y metodologías ágiles.</li>
          <li>Estudio avanzado de algoritmos, estructuras de datos y complejidad computacional.</li>
          <li>Diseño y análisis de arquitecturas de sistemas distribuidos.</li>
        </ul>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <div class="timeline-header">
          <h3>AWS Certified Solutions Architect - Associate</h3>
          <span class="timeline-date">Certificación (SAA-C03)</span>
        </div>
        <div class="timeline-institution">

          <h4><i class="fa-brands fa-aws"></i> Amazon Web Services</h4>
        </div>
        <p class="timeline-description">
        Validación de habilidades en el diseño y la implementación de sistemas distribuidos escalables y de alta disponibilidad en la nube de AWS.
        </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <div class="timeline-header">
          <h3>AWS Academy Cloud Architecting</h3>
          <span class="timeline-date">Certificación</span>
        </div>
        <div class="timeline-institution">

          <h4><i class="fa-brands fa-aws"></i> Amazon Web Services</h4>
        </div>
        <p class="timeline-description">
        Formación completa en los fundamentos de la construcción, despliegue y optimización de infraestructura de TI en la nube de AWS.
        </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <div class="timeline-header">
          <h3>Técnico en Programación</h3>
          <span class="timeline-date">2018 - 2021</span>
        </div>
        <div class="timeline-institution">

          <h4><i class="fa-solid fa-award"></i> CECYTEA Rincón de Romos</h4>
        </div>
        <ul class="timeline-details">
          <li>Bases en lógica de programación y paradigmas de desarrollo.</li>
          <li>Introducción a estructuras de datos y desarrollo de aplicaciones.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
